<%- include header %>

<% if (events.length === 0) { %>
  <h2>Nu sunt evenimente pentru aceasta perioada.</h2>
<% } else { %>
  
  <% events.forEach(function(event, i) { %>

    <div class="row event-item">
      <% var eventLink = true %>
      <%- include partials/event-partial %>

    </div>
    
  <% }) %>

<% } %>

<%- include footer %>