<div class="rsv-feedback">
  
  <div class="rsv-feedback-button">
    
    <i class="fa fa-envelope"></i> Send us a message

  </div>
  
  <div class="rsv-feedback-container">
    
    <div class="rsv-feedback-header">
      Send us a message
    </div>

    <div class="rsv-feedback-body">
      
      <form action="" class="rsv-feedback-form">

        <div class="alert alert-success">
          <p>Your message has been sent. We will contact you right away.</p>
        </div>

        <div class="alert alert-danger">
          <p>There was an error, please try again.</p>
        </div>
        
        <div class="form-group">
          <input type="email" name="" id="" class="form-control" placeholder="Your Email" required value="" />
        </div>

        <div class="form-group">
          <textarea name="" id="" cols="30" rows="3" class="form-control" placeholder="Your Message" required></textarea>
        </div>

        <div class="rsv-feedback-footer">
          <button class="btn btn-primary" type="submit">Send message</button>
          <a href="" class="rsv-feedback-close">Cancel</a>
        </div>

      </form>
    </div>
  </div>
</div>