<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Reservr - <% if (event)  {%> <%= event.name %> <% } else {  %> <%= org.name %> <% } %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/bower_components/fontawesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/bower_components/rome/dist/rome.min.css">
  <link rel="stylesheet" href="/bower_components/sweetalert/dist/sweetalert.css">
  <link rel="stylesheet" href="/css/reservr3.css">
  <link rel="stylesheet" href="/css/fonts.css">
  <link href='https://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Fira+Sans' rel='stylesheet' type='text/css'>
  <link href="http://fonts.googleapis.com/css?family=Nobile" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="/images/favicon.ico">
  <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png">

  <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
</head>
<body <% if (event) { %> class="event-page" <% } %>>
  
  <div class="container event-page">
    
    <div class="event-page-header cf">

      

      <a href="/" class="logo">

        <img src="/images/logo-white.png" alt="">  

      </a>

      
      <ul class="list list-unstyled pull-right header-menu">
        <!-- <li><a href="">About</a></li>
        <li><a href="">Features</a></li>
        <li><a href="">Pricing</a></li> -->
        <li><a href="/dashboard">Account</a></li>
      </ul>

      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        
    </div>


    <div class="rzv-event">

      <a href="/u/<%= org.name %>" class="event-page-org-logo">
        
        <% if (org.logo) { %> 
          <img src="<%= org.logo %>" alt="">
        <% } else { %>
          <img src="/media/org-logo-placeholder.png" alt="">
        <% } %>
      </a>