<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Reservr - <% if (event)  {%> <%= event.name %> <% } else {  %> <%= org.name %> <% } %></title>
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/bower_components/fontawesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/bower_components/rome/dist/rome.min.css">
  <link rel="stylesheet" href="/bower_components/sweetalert/dist/sweetalert.css">
  <link rel="stylesheet" href="/css/reservr3.css">
  <link rel="stylesheet" href="/css/fonts.css">
  <link href='https://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Fira+Sans' rel='stylesheet' type='text/css'>
  <link href="http://fonts.googleapis.com/css?family=Nobile" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
</head>
<body <% if (event) { %> class="event-page" <% } %>>
  
  <div class="container event-page">
    
    <div class="row event-page-header cf">

      <div class="col-md-4 cf">

        <a href="/" class="logo">

          <img src="/images/logo-white.png" alt="">  

        </a>

      </div>
      <div class="col-md-8">
        <ul class="list list-unstyled pull-right header-menu">
          <!-- <li><a href="">About</a></li>
          <li><a href="">Features</a></li>
          <li><a href="">Pricing</a></li> -->
          <li><a href="/dashboard">Account</a></li>
        </ul>
      </div>

    </div>


    <div class="rzv-event">

      <a href="/u/<%= org.name %>" class="event-page-org-logo">
        
        <% if (org.logo) { %> 
          <img src="<%= org.logo %>" alt="">
        <% } else { %>
          <img src="/media/org-logo-placeholder.png" alt="">
        <% } %>
      </a>