<% var theEvent = '' %>
<%- include header %>

  <h2>Success</h2>
  <div class="alert alert-info">
    <p>
      Reservation successfully deleted. <a href="/u/<%= org.name %>" class="btn btn-primary">Other events</a>
    </p>
  </div>

<%- include footer %>
