<%- include partials/header %>

<% var theEvent = {} %>
<div class="main">
  <div class="row">
    <div class="col-md-4">
      <%- include partials/events-list.ejs %>
    </div><!--/.col-->
  </div>
</div>

<%- include partials/footer %>