<%- include partials/header %>

<div class="main">
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <ul class="list list-unstyled">
            <li><a href="">Notifications</a></li>
            <li><a href="">Profile</a></li>
            <li><a href="">Organization Profile</a></li>
            <li><a href="">Mailchimp Integrations</a></li>
            <li><a href="">Email Templates</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
            <h2><strong>Basic Form</strong> Elements</h2>
        </div>
        <div class="panel-body">
          <form action="" method="post" enctype="multipart/form-data" class="form-horizontal ">

          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include partials/footer %>