html,
body {
  min-height: 100%;
  height: 100%;
}

body {
  background: #A94442;
  position: relative;
}

textarea {
  resize: none;
}

.rzv-logo-wrap {
  text-align: center;
}

.rzv-logo-wrap a {
  display: block;
  margin-top: 30px;
}

.rzv-lightbox {
  background: #fff;
  color: #333;
  width: 60%;
  height: 95%;
  border-radius: 3px;
  position: absolute;
  right: 20px;
  top: 2%;
  box-shadow: rgba(0,0,0, .4) 0 0 4px;
  padding: 20px;
  overflow: auto;
}

.event-name h1 {
  font-size: 22px;  
  margin: 0;
}

.event-name h1 p {
  margin: 0;
}

.event-description img{
  max-width: 100%
}



.event-group .event-placeholder {
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
  display: block;
}
.event-group .event-placeholder:hover {
  background: #eaeaea;
}

.event-name textarea {
  font-size: 22px;
  height: 45px;
}

.event-input {
  position: relative;
}

.event-input [name] {
  padding-left: 30px;
}

.event-input .icomoon,
.event-input .fa {
  position: absolute;
  top: 10px;
  left: 10px;
}

.event-group [name],
.event-group .event-input {
  display: none
}

.event-group [type="file"] {
  display: block
}

.event-group--toggle-placeholder [name],
.event-group--toggle-placeholder .event-input {
  display: block;
  margin-bottom: 10px;
}

.event-group--toggle-placeholder .event-placeholder {
  display: none;
}

.event-group-action {
  display: none;
  margin-bottom: 10px;
}

.event-group--toggle-placeholder .event-group-action {
  display: block;
}

.event-group-cancel {
  font-size: 11px;
  color: #333;
  margin-left: 10px;
  cursor: pointer;
}

.event-group .fa,
.event-group .icomoon {
  color: #ccc;
  margin-right: 10px;
}

.event-group:hover .icomoon,
.event-group:hover .fa {
  color: #333;
}

.event-image {
  position: relative;
}

.event-image .event-preview-image {
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 4px;
}

.event-image .event-preview-image img {
  max-width: 100%;
}

.event-image input {
  position: absolute;
  top: 0;
  left: 0;
  outline: 1px solid red;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.event-organization-setup input{
  width: 110px;
  margin: 0 0 0 3px;
  border-color: #CCC;
  border: 1px solid #ccc;
}

.event-organization-setup span {
  margin-top: 2px;
}

.event-publish {
  margin-top: 20px;
}

.btn-publish {
  background: #02766C;
  border-radius: 2px;
  display: block;
}

.btn-publish:hover {
  background: #03655C;
}