html,
body {
  min-height: 100%;
  height: 100%;
}

body {
  background: #A94442;
  position: relative;
}

textarea {
  resize: none;
}

.rzv-logo-wrap {
  text-align: center;
  margin-bottom: 30px;
}

.rzv-logo-wrap a {
  display: block;
  margin-top: 30px;
}

.rzv-lightbox {
  background: #fff;
  border-radius: 3px;
  box-shadow: rgba(0,0,0, .4) 0 0 4px;
  padding: 20px;
  overflow: auto;
  clear: both;
  color: #333;
  height: 92%;
}

.event-name h1 {
  font-size: 22px;  
  margin: 0;
}

.event-name h1 p {
  margin: 0;
}

.event-description img{
  max-width: 100%
}



.event-group .event-placeholder {
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
  display: block;
}
.event-group .event-placeholder:hover {
  background: #eaeaea;
}

.event-name textarea {
  font-size: 22px;
  height: 45px;
}

.event-input {
  position: relative;
}

.event-input [name] {
  padding-left: 30px;
}

.event-input .icomoon,
.event-input .fa {
  position: absolute;
  top: 10px;
  left: 10px;
}

.event-group [name],
.event-group .event-input {
  display: none
}

.event-group [type="file"] {
  display: block
}

.event-group--toggle-placeholder [name],
.event-group--toggle-placeholder .event-input {
  display: block;
  margin-bottom: 10px;
}

.event-group--toggle-placeholder .event-placeholder {
  display: none;
}

.event-group-action {
  display: none;
  margin-bottom: 10px;
}

.event-group--toggle-placeholder .event-group-action {
  display: block;
}

.event-group-cancel {
  font-size: 11px;
  color: #333;
  margin-left: 10px;
  cursor: pointer;
}

.event-group .fa,
.event-group .icomoon {
  color: #ccc;
  margin-right: 10px;
}

.event-group:hover .icomoon,
.event-group:hover .fa {
  color: #333;
}

.event-image {
  position: relative;
}

.event-image .event-preview-image {
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 4px;
}

.event-image .event-preview-image img {
  max-width: 100%;
}

.event-image input {
  position: absolute;
  top: 0;
  left: 0;
  outline: 1px solid red;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.event-organization-setup input{
  width: 110px;
  margin: 0 0 0 3px;
  border-color: #CCC;
  border: 1px solid #ccc;
}

.event-organization-setup span {
  margin-top: 2px;
}

.event-publish {
  margin-top: 20px;
}

.event-publish .event-link {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;  
  margin-bottom: 10px;
  display: block;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
}

.event-publish .event-link-wrap {
  display: none;
}

.event-publish .event-link:hover {
  background: #eaeaea;
}

.event-publish.event-publish--published .event-link-wrap{
  display: block;
}

.event-publish.event-publish--published .btn-publish {
  display: none;
}

.event-save {
  margin-top: 30px;
  position: relative;
  display: none;
}

.event-save label {
  margin-bottom: 10px;
}

.event-save input {
  margin-bottom: 10px;
}

.event-publish.event-publish--published .event-save {
  display: block;
}

.btn-publish {
  background: #02766C;
  border-radius: 2px;
  display: block;
}

.btn-publish:hover {
  background: #03655C;
}

.rd-day-body {
  padding: 5px;
}

.rd-day-body:hover {
  background: #eaeaea;
}

.rd-day-selected:hover {
  background: #000;
}

.btn-state-loading {
  position: relative;
  pointer-events: none;
}

.btn-state-loading:before,
.event-save--loading:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1099;
  width: 100%;
  height: 100%;
  background-color: #02766C;
}

.btn-state-loading:after,
.event-save--loading:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1100;
  display: inline-block;
  width: .5em;
  height: .5em;
  margin-left: -.25em;
  margin-top: -.25em;

  border-radius: 3px;
  border: 2px solid #fff;

  -webkit-animation: rotate 1.4s linear infinite;
  -moz-animation: rotate 1.4s linear infinite;
  animation: rotate 1.4s linear infinite;
}

.fa-info-circle {
  color: #ccc;
}

.fa-info-circle:hover {
  color: #000;
}

.event-save--loading:before {
  border-radius: 4px;
}
.event-save--loading:after {
  width: 1em;
  height: 1em;
}

.event-success,
.event-error {
  display: none;
  position: absolute;
  background: #27ae60;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1100;
  padding: 20px;
  color: #FFF;
  text-align: center;
  border-radius: 4px;
}

.event-save--success .event-success,
.event-save--error .event-error {
  display: block;
}

.event-success h4,
.event-error h4 {
  margin-top: 0;
}

.event-success a {
  background: rgba(255,255,255,.9);
  color: #333;
  padding: 7px 5px;
  border-radius: 3px;
  display: block;
}

.event-success a:hover {
  background: #fff;
  text-decoration: none;
}

.event-error {
  background: #c0392b;
}

.header-menu {
  margin-top: 7px;
  margin-right: 3px;
}

.header-menu li {
  display: inline-block;
  margin-right: 20px;
}

.header-menu li:last-child {
  margin-right: 0;
}

.header-menu a {
  color: rgba(255,255,255, .6);
}

@-moz-keyframes rotate { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes rotate { 100% { -webkit-transform: rotate(360deg); } }
@keyframes rotate { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }}


.box-white {
  background: #fff;
  border-radius: 3px;
  box-shadow: rgba(0,0,0, .4) 0 0 4px;
  padding: 10px;
  color: #333;
}

.event-summary {
  margin-bottom: 10px;
  opacity: .6;
}

.event-summary:hover {
  opacity: 1;
  cursor: pointer;
}

.event-summary.event-active {
  opacity: 1;
}

.event-list {
  height: 72%;
  overflow: auto;
}

.btn-add-new-event {
  background: #043147;
  border-color: #043147;
  border-radius: 2px;
}

/* Scrollbar
*/

::-webkit-scrollbar {
    width: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: transparent; 
}







