<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>404</title>
  <script>
    setTimeout(function() {
      window.location = '/'
    }, 4000);
  </script>
</head>
<body>
  <h1>Sorry, page does not exist</h1>
</body>
</html>