<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>
    Reservr Dashboard
  </title>
  
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/bower_components/fontawesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/bower_components/rome/dist/rome.min.css">
  <link rel="stylesheet" href="/css/dashboard.css">
</head>
<body>
  <div class="header">
    <div class="container">
      <div class="col-md-7">

        <a href="/dashboard" class="logo">
          <img src="/images/logo-white.png" class="logo-reservr">
          
          <img src="<%= org.logo %>" class="logo-client">

          <h2>
            Dashboard
          </h2>
        </a>

      </div>

      <div class="col-md-5">

        <a href="/dashboard/<%= orgId %>/event" class="btn-event-new" title="Adauga eveniment">
          <i class="fa fa-plus"></i>
        </a>

      </div>
      
    </div>
  </div>
  <div class="container">
    