<%- include dashboard-header %>
  
  <div class="rzv-lightbox">
    <h2>This is your dashboard</h2>
    <p>We're working on adding all kind of cool stuff here...</p>
  </div>
  
<%- include dashboard-footer %>
