<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <title>
    Reservr2
  </title>
  
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/bower_components/fontawesome/css/font-awesome.min.css">
  
  <link rel="stylesheet" href="/css/site.css">

</head>
<body>
  <div class="header">
    <div class="container">
      <div class="col-md-4">

        <a href="/u/ejs" class="logo">
          <img src="/images/logo-white.png" class="logo-reservr">
          <!-- <img src="/images/logo-reactor.png" class="logo-client"> -->
        </a>

      </div>
      
    </div>
  </div>
  
  <!-- <div class="menu-header">
    <div class="container">
      
      <dl class="sub-nav">
        <dt>
          Vezi programul pentru următoarele
        </dt>
        
      </dl>
      
    </div>
  </div> -->

  <div class="container">