<%- include frontend/partials/auth-header %>
      
<h1>Sign Up</h1>
      
<form action="/createTempUser" method="POST" class="cf account-form">
  <% if (info.length) { %>
    <div class="alert alert-danger">
      <%= info %>
    </div>
  <% } %>
  <div class="form-group">
    <label for="" class="control-label">Email</label>
    <input type="text" class="form-control" name="username" value="">
  </div>

  <div class="form-group">
    <label for="" class="control-label">Password</label>
    <input type="password" class="form-control" name="password" value="">
  </div>

  <button type="submit" class="btn btn-lg btn-primary">Create Account</button>

  <a href="/signin" class="redirect">Already have an account? Login Here</a>

</form>
  
<%- include frontend/partials/auth-footer %>