<%- include frontend/partials/auth-header %>
          
<h1>Log in</h1>

<form action="/signin" method="POST" class="account-form">

  <% if (info.length) { %>
    <div class="alert alert-danger">
      <%= info %>
    </div>
  <% } %>

  <div class="form-group">

    <label for="" class="control-label">Email</label>

    <input type="text" class="form-control" name="username">

  </div>

  <div class="form-group">

    <label for="" class="control-label">Password</label>

    <input type="password" class="form-control" name="password">

  </div>

  <button type="submit" class="btn btn-primary btn-lg">Go to Dashboard</button>

  <a href="/signup" class="redirect">Don't have an account? Sign Up Here</a>

</form>

<%- include frontend/partials/auth-footer %>